# IDE
.vscode
.idea/

# Go prof output
*.prof

# Go test output
*/*.test
*/*.out

# Build output
build

# Dependencies
vendor
glide.lock

# gomobile compilation output
*.aar
*.jar

# lachesis project specific
scripts/certs
scripts/nodes
scripts/peers.json
scripts/docker/upx
nodes
peers.json
certs
lachesis_*

# Backup copies
*~
*.bak

.#*
