# IDE
.vscode
.idea/

# Go test output
*/*.test
*/*.out

# Build output
build

# Dependencies
vendor

# gomobile compilation output
*.aar
*.jar

# lachesis project specific
docker/builder/nodes
docker/builder/certs
docker/builder/peers.json
docker/builder/upx
nodes
peers.json
certs