image: offscale/golang-builder-alpine3.8

stages:
  - test
  - build
  - deploy
  
before_script:
    - apk update
    - apk add jq util-linux
    - go get -v github.com/SamuelMarks/batch-ethkey
    - go get -u -d github.com/magefile/mage
    - mkdir -p /go/src/github.com/andrecronje/
    - cp -r /fantom/lachesis /go/src/github.com/andrecronje/lachesis
    - cd /go/src/github.com/SamuelMarks/lachesis
    - glide install
    
test code:
  stage: test
  allow_failure: true
  script:
  - cd /go/src/github.com/andrecronje/lachesis
  - go test ./src/...
    
build code:
  stage: build
  script:
  - cd /go/src/github.com/andrecronje/lachesis
  - scripts/multi_build.bash

deploy code:
  stage: deploy
  script:
  - cd /go/src/github.com/andrecronje/lachesis
  - scripts/multi_build.bash
  - mv lachesis_linux scripts/
  - scripts/multi_run.bash
