# Intention is to interpolate entire file with `envsubst`, using vars from `dpkg --set-selections`

[Unit]
Description=BFT Consensus platform for distributed applications.
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/go-lachesis.pid
Environment=BUILD_DIR=$BUILD_DIR
Environment=DATAL_DIR=/mnt/data
Environment=node=$NODE_NUMBER
Environment=node_addr=$NODE_ADDR
ExecStart=/bin/bash $BUILD_DIR/scripts/testnet.bash
ExecStop=pkill -SIGTERM -F /var/run/go-lachesis.pid

[Install]
WantedBy=multi-user.target
